<div class="d-flex justify-content-center">
  <div class="wrapper">
    <div class="title">Reset Password</div>
    <form [formGroup]="form">
      <div>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Enter New Password</span>
            <input
              type="password"
              placeholder="Enter New your Password"
              formControlName="password"
              maxlength="10"
            />
            <div
              class="error-message"
              *ngIf="(password?.touched || isSubmitted) && password?.invalid"
            >
              <div *ngIf="password?.hasError('required')">
                password is required
              </div>
              <span *ngIf="password?.dirty">
                <span
                  class="block"
                  [ngClass]="{
                    'text-primary': password?.value?.match('^(?=.*[A-Z])')
                  }"
                  >At least oneu ppercase letter.</span
                >
                <span
                  class="block"
                  [ngClass]="{
                    'text-primary': password?.value?.match('(?=.*[a-z])')
                  }"
                  >At least one lowercase letter.</span
                >
                <span
                  class="block"
                  [ngClass]="{
                    'text-primary': password?.value?.match('(.*[0-9].*)')
                  }"
                  >At least one digit.</span
                >
                <span
                  class="block"
                  [ngClass]="{
                    'text-primary': password?.value?.match('(?=.*[!@#$%^&*])')
                  }"
                  >At least one special character.</span
                >
                <span
                  class="block"
                  [ngClass]="{
                    'text-primary': password?.value?.match('.{8,}')
                  }"
                  >At least 8 characters long.</span
                >
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="button">
        <input type="submit" (click)="onSubmit()" />
        <p>Already have an account? <a [routerLink]="'/log-in'">Log In</a>.</p>
      </div>
    </form>
  </div>
</div>
